openapi: 3.0.3
info:
  title: throwaway.cloud
  description: |-
    Need to find out if an e-mail address is a throwaway (or disposable e-mail address)?  
    Here's our API!
    
    Some useful links:
    - [GitHub](https://github.com/matthewgall/disposable-domains)
    - [API Definition](https://github.com/matthewgall/disposable-emails/blob/main/openapi.yml)
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://throwaway.cloud/api/v1
paths:
  /domain/{domain}:
    get:
      summary: Search by domain name
      description: Returns the throwaway status of a domain name
      operationId: getDomainById
      parameters:
        - name: domain
          in: path
          description: Domain name to lookup
          required: true
          schema:
            type: string
            description: Domain name
            example: example.com
      responses:
        '200':
          description: Successful lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          description: Invalid domain name supplied
  /email/{email}:
    get:
      summary: Search by e-mail
      description: Returns the throwaway status of an e-mail address
      operationId: getEmailById
      parameters:
        - name: email
          in: path
          description: E-mail address to lookup
          required: true
          schema:
            type: string
            description: E-mail address
            example: test@example.com
      responses:
        '200':
          description: Successful lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '400':
          description: Invalid e-mail address supplied
components:
  schemas:
    Domain:
      required:
        - domain
      type: object
      properties:
        success:
          type: boolean
        isDisposable:
          type: boolean
    Email:
      required:
        - email
      type: object
      properties:
        success:
          type: boolean
        isDisposable:
          type: boolean
